*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
 
  font-family: sans-serif;
  
  overflow-x: hidden;
  
}
button.btn-mobile{
  border: none;
  visibility: hidden;
  top: 5px;
  right: 1px;
  position: relative;
  background-color: transparent;
  color: black;
  line-height: 0.5em;
  padding: 5px;
  margin: 20px;
  height: 30px;
  width: 50px;
  position: absolute;
}

 hr{
 background-image: linear-gradient(#67C3F3 ,#5A98F2);
 border-radius: 20px;
 border-color: black;
 padding: 2px;
 transition: 2s;
}
div.log{
  top: -10px;
  position: relative;
  left: 20px;
  display: flex;
  width: 12%;
  align-items: center;
  justify-content: space-between;



}

div.texto-logo{
  position: absolute;
  left: 60px;
}
div.logo{
 position: absolute;
 display: flex;
 margin-right: 16px;
 color: #fffefe;
 padding: 20px;
 height: 50px;
 width: 50px;
 font-size: 1.5em;
 font-weight: bold;
 align-items: center;

 justify-content: center;
 border-radius: 50% ;
 background-image: linear-gradient(#67C3F3 ,#5A98F2);
}
div.menu{
  
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
div.conteudo{
  margin-top: 60px;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;

}
nav .options{
  display: flex;
}
div li{
  list-style: none;
}
div li a{
  /* display: block; */
  margin: 5px;
  padding: 2px;
  text-decoration: none;
  color: gray;
}
div li a:hover {
  border-bottom: 2px solid rgb(197, 197, 197);
  color: black;

}
h2{
  font-weight: 100;
  font-size: 20px;
}


  

div.content{
  flex-wrap: wrap;
  margin-top: 50px;
  display: flex;
 
  justify-content: space-around;
  align-items: center;
  width: 100%
}
div.conteudo{
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
}
div.png img{
 margin-left: 20px;
 width: 100%;
height: 100%;
}
div.png{
  width: 50%;
  height: 50%;
}

button.pag{ 
  border: none;
  margin-top: 35px;
  padding: 12px 32px;
  border-radius: 25px;
  color: #fffefe;
  background-image: linear-gradient(#67C3F3 ,#5A98F2);
  /* margin-right: 10px; */
}
button{ 
  border: solid #448de0 2px;
  margin-top: 35px;
  padding: 12px 32px;
  border-radius: 25px;
  color:#448de0;
  background-color:white;
  /* margin-right: 10px; */
}
p{
  padding-top: 25px;
  color: lightslategray;
}
h2{
  font-size: 2.5em;
}
div.pag-texts{
  width: 100%;
  height: 300px;
}
div.header{
  padding: 2%;
  
  height: 35vh;
  width: 80vw;
  
}

div.texto-pag2{
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.box{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 3rem;
  width: auto;
  height: auto;
}
div.itens{
  display: flex;

  flex-wrap: wrap;
}
div.subiten{
  padding: 2%;
  box-shadow: 6px 1px 17px 0px #80808033;  
  border-radius: 12px;
  margin: 5px;
  width: 300px;
  height: 300px;
  max-width: 400px;
}
.subimg{
  display: flex;
  padding: 5px;
  border-radius: 12px;
  height: 40%;
  width: 100%;
}
.subtexto{
  padding: 10px;
  text-align: justify;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

@media (max-width: 600px){
  div.subiten{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.subimg{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.box{
    height: auto;
  }
  div.itens{
    align-items: center;
    justify-content: center;
  }
}

button.btn{
  display: block; 
}
div.section2{
  margin-top: 50px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: auto;
}
div.section2-img{ 
  margin-left: 20px;
   width: 40%;
   height:40%;
}
div.section2-img img{
  max-height: 500px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
button.semborda{
  border: none; 
}


div.section2-texto{
  
  width: 40%;
  height: 70%;
}
header{
  padding-top: 22px;
  width: 100%;
  height: 20%;
  align-items: center;
}
@media (max-width: 650px){
  header{
    width: 100vw;
    height: 13%;
    align-items: center;
  }
 
  nav{
    visibility: hidden;
  }
  button.btn-mobile{
    visibility: visible;
  }
  div.log{
    position: absolute;
    top: 45px;
    left: 40px;
  }
  nav.options.actived ul.itens{
    margin-top: 13%;
    /* background-color: red; */
    position: relative;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    transition: 2s;
    flex-direction: column;
    gap: 1rem;
    /* top: 50px; */
    height: 100vh;
    /* position: fixed; */

  }
  
  
  div.fixed{
    padding: 5%;
    transform: rotate(270deg)  ;
    font-size: 2rem;
    right: 3%;
    bottom: 5%;
    position: fixed;
    display: flex;
    width: 3vw;
    height: 3vw;
    background-image: linear-gradient(#67C3F3 ,#5A98F2);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  nav.options.actived a {
    padding: 1rem;
  }
  div li a{
    border-bottom: 2px solid transparent
  }
  div li a:hover {
    border-bottom: 2px solid rgb(197, 197, 197);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218);
    width: 100vw;
  
  }
  div li a{
    display: flex;
  }
 
}

@media (max-width:710px){
  
  div.section2-img{
    
    margin-left: 20px;
     width: 80%;
     height:80%;
  }
  div.section2-texto{
    padding: 20px;
    width: 80%;
    height: 80%;
  }
}
div.section-3{
  padding-top : 10% ;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffefe;

}
div.block-blue{
  padding: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#67C3F3 ,#5A98F2);
  width: 90%;
  height: auto;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
div.conteudo-blue{

  
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}
.blue-left{
  
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 2%;
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
  
}
.blue-left img{
  border: 2px solid  white;
  border-radius: 50%;
}
div.blue-right{
  
  display: flex;
  padding: 2%;
  height: 100%;
  display: flex;
  width: 50%;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  
}
.blue-right p, .blue-left p{
  color: #fffefe;
}
div.simble{
display: flex;
width: 100%;
height: 30vh;
justify-content: center;
align-items: center;
}
div.simble button.menor{
  font-size: 3rem;
}
div.simble button.maior{
  /* font-weight: 900; */
  font-size: 3rem;
}
div.section4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
.title-4{
  text-align: center;
  padding: 2%;
}
div.box-section4{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
  display: flex;
  
 
  width: 90%;
  height: auto;
}
button.btn-transparant{
  background-color: transparent;
  border: none;
  color: #448de0;
}
div.card-s4{
  padding: 0.1%;
  border-radius: 20px ;
  display: flex;
  width: 350px;
  height: 512px;
  
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);;
  
}
div.card-img{
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 50%;
 
}
div.card-img img{
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
}
div.conteudo-texto{

  display: flex;
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
}
div.card-text{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  
}
footer{
  padding-top: 4%;
  padding-bottom: 4%;
  color:  #FFFFFF;
  text-decoration: none;
  align-items: center;
  margin-top: 120px;
  height: auto;
  width: 100vw;
  display: flex;
  background-image: linear-gradient(#67C3F3 ,#5A98F2);
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 500;
}
div.footer-trafalgar{

  width: 391px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  
}
.footer-company{
  align-items: baseline;
  justify-content: space-around;
  
  width: 250px;
  height: 214px;
  flex-direction: column;
  display: flex;
  min-width: 250px;
}
.footer-Region{
  align-items: baseline;
  justify-content: space-around;
 
  width: 250px;
  height: 214px;
  flex-direction: column;
  display: flex;
  min-width: 250px;
}
.footer-help{
  align-items: baseline;
  justify-content: space-around;
  
  width: 391px;
  height: 214px;
  flex-direction: column;
  display: flex;
  min-width: 391px;
}
.footer-trafalgar{
  display: flex;
  flex-direction: column;
}
.title-footer-main{
align-items: flex-start;
gap: 1rem;
display: flex;
width: 80%;
height: 40px;

}
div.logo-t{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  font-size: 30px;
  padding: 3%;
  color: #448de0;
}
.alinhamento-footer{
  flex-direction: column;
  align-items: baseline;
  display: flex;
  width: 90%;
  height: 280px;
 
}
span{
  margin-top: 30px;
}
footer p{
  color: white;
}
footer a{
  text-decoration: none;
  color: white;
}
div.fixed{
  padding: 2%;
  transform: rotate(270deg)  ;
  font-size: 2rem;
  right: 1%;
  bottom: 5%;
  position: fixed;
  display: flex;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(#67C3F3 ,#5A98F2);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
div.fixed:hover{
  right: 2%;
  border: white solid 2px;
}
@media (max-width: 700px){
  div.section2{
    height: auto;
  }
  div.box{
    height: auto;
  }
  footer{
    flex-direction: column;
  }
  .footer-help{
    width: 250px;
    min-width: 250px;
  }
  
  
}
button.btn-mobile.actived hr.n1{
  transform: rotate(405deg);
  position: relative;
  bottom: -15px;
}
button.btn-mobile.actived hr.n2{
  background:transparent;
  border: none;
}
button.btn-mobile.actived hr.n3{
 transform: rotate(-405deg);
 position: relative;
 top: -9px;
}
